<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

        <div class="logo mr-auto">
            <a href="/index.html"><img src="/assets/img/logo_lfe_powsybl.svg" height="30" alt="PowSyBl"></a>
        </div>

        <!-- TODO.md(mathbagu): ameliorer le style en version mobile -->
        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li><a href="/index.html">Home</a></li>
                <li class="drop-down"><a href="/pages/overview">Overview</a>
                    <ul>
                        <li><a href="/pages/overview">About</a></li>
                        <li><a href="/pages/overview/governance">Governance</a></li>
                        <li><a href="/pages/overview/license">License</a></li>
                        <li><a href="/pages/overview/release-cycle">Release Cycle</a></li>
                        <li><a href="/pages/overview/roadmap">Roadmap</a></li>
                    </ul>
                </li>
                <li class="drop-down"><a href="/pages/documentation">Documentation</a>
                    <ul>
                        <li><a href="/pages/documentation/index.html#user-documentation">User documentation</a></li>
                        <li><a href="/pages/documentation/index.html#grid-model">Grid model</a></li>
                        <li><a href="/pages/documentation/index.html#grid-formats">Grid exchange formats</a></li>
                        <li><a href="/pages/documentation/index.html#simulation">Simulation</a></li>
                        <li><a href="/pages/documentation/index.html#developer-documentation">Developer documentation</a></li>
                        <li><a href="/pages/documentation/index.html#data">Data management</a></li>
                    </ul>
                </li>
                <li><a href="/pages/download">Download</a></li>
                <li class="drop-down"><a href="/pages/contributing">Contributing</a>
                    <ul>
                        <li><a href="https://wiki.lfenergy.org/display/HOME/Code+of+Conduct">Code of conduct</a></li>
                        <li><a href="/pages/contributing/technical-charter">Technical charter</a></li>
                        <li><a href="/pages/overview/license">License</a></li>
                    </ul>
                </li>
                <li class="drop-down"><a href="/pages/community">Community</a>
                    <ul>
                        <li><a href="/pages/community">Contact</a></li>
                        <li><a href="/pages/community/events">Events</a></li>
                    </ul>
                </li>
                {% if page.dir contains "/pages/documentation"  %}
                <li>
                    <!--
                        inside a <a/> for similar styling as other items. Add
                         py-1 because the input is taller than just text, so
                        compensate with less padding on the <a/>
                    -->
                    <a class="py-1" ><form class="d-inline-flex form-inline" action="/pages/documentation/search" method="get">
                        <!-- px-2 py-1 like in form-control-sm but overriden by vesper.css so put it back -->
                        <input class="form-control form-control-sm px-2 py-1" id="search-box" name="query" type="text" placeholder="Search" aria-label="Search" />
                    </form></a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>

<!--
<nav class="navbar navbar-expand navbar-light bg-light fixed-top">
    <div class="row no-gutters" style="flex-grow:1;">
        <div class="col-auto mr-auto align-self-center">
            {% if page.sidebar %}
                <button id="sidebarToggler" class="navbar-toggler d-inline d-lg-none border-0 mr-0 pl-0" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
            {% endif %}

            <a class="navbar-brand mr-0" href="/">
                <img src="/assets/powsybl/logo_lfe_powsybl.svg" height="30" alt="">
            </a>
        </div>
        <div class="col-5 col-sm-auto">
            <div class="row no-gutters">
                <div class="col-sm-auto">
                    <ul class="navbar-nav ml-auto">
                        <a class="nav-link mx-1" href="https://github.com/powsybl" target="_blank" rel="noopener" aria-label="GitHub" data-toggle="tooltip" data-placement="bottom" title="GitHub"><i class="fab fa-github"></i></a>
                        <a class="nav-link mx-1" href="https://spectrum.chat/powsybl" target="_blank" rel="noopener" aria-label="Spectrum" data-toggle="tooltip" data-placement="bottom" title="Spectrum"><i class="fas fa-comment"></i></a>
                        <a class="nav-link mx-1" href="https://lists.lfenergy.org/g/powsybl" target="_blank" rel="noopener" aria-label="Mailing Lists" data-toggle="tooltip" data-placement="bottom" title="Mailing Lists"><i class="fas fa-envelope"></i></a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
-->
