{% for item in items %}
<li class="list-group-item">
    {% if item.url %}
    <a class="list-group-item list-group-item-action" href="{{ item.url }}">
    {% endif %}
        {% if subitem %}
        <i class="fas fa-reply fa-rotate-180 ml-4 mr-2"></i>
        {% endif %}
        {{ item.name }}
    {% if item.url %}
    </a>
    {% endif %}

    {% if item.items %}
        {% assign items = item.items %}
        {% assign subitem = true %}
        {% include sidebar.inc.html %}
        {% assign subitem = false %}
    {% endif %}
</li>
{% endfor %}
