.navbar-light {
  height: $navbar-height;

  .navbar-toggler-icon {
    &:hover {
      background-image: $navbar-light-toggler-hover-icon-bg;
    }
  }
}

.content {
  margin-top: $navbar-height;
}

@media screen and (max-width: 575.98px) {
    #search-box {
      height: 22px;
    }
}
