.navbar-light {
  height: $navbar-height;

  .navbar-toggler-icon {
    &:hover {
      background-image: $navbar-light-toggler-hover-icon-bg;
    }
  }
}

.content {
  margin-top: $navbar-height;
}

/* navbar has z-index: 1030 */
ul.ui-autocomplete {
  z-index: 1040;
}
