.sidebar {
  background-color: white;
  flex: 0 0 $sidebar-width;

  padding-top: $sidebar-padding;
  padding-bottom: $sidebar-padding;

  li.list-group-item {
    padding: 0;
  }

  a.nav-link {
    padding: 0;
  }
}

.sidebar.dropdown {
  position: fixed;
  z-index: 9999;
  width: $sidebar-width;
  padding-top: 0;
  padding-bottom: 0;
}

.overlay {
  display: none;
  position: fixed;
  left: 0;
  top: $navbar-height;
  width: 100vw;
  height: 100vh;
  z-index: 9998;
}

.overlay.active {
  display: block;
}
