---
---

@import "{{ site.theme }}";

div {
  text-align: justify;
}

footer p {
  color: #C0C0C0;
  font-size: 12px;
}

footer a {
  text-decoration: none;
}

.inner {
  max-width: 800px;
}

nav {
  margin: 0 0 10px auto;
  position: absolute;
  right: 10px;
  top: 10px;
  width: fit-content;
}

nav ul li {
  display: inline;
  float: left;
  margin-right: 1px;
}

nav ul {
  padding: 0;
}

a.nav-button {
  background-color: #0090FF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  font-weight: 700;
  padding: 20px 10px 15px 10px;
  top: 0;
  z-index: 10;
}

#home {
  background: url('../images/home.png') #0090FF no-repeat 50% 50%;
  border-bottom-left-radius: 5px;
  padding: 20px 25px 15px 25px;
}

#github {
  background: url('../images/github.png') #0090FF no-repeat 50% 50%;
  border-bottom-right-radius: 5px;
  padding: 20px 25px 15px 25px;
}

// Custom CSS
.center-image
{
    margin: 0 auto;
    display: block;
}

// Small devices
@media screen and (max-width: 480px) {

  .inner {
    max-width: 480px;
  }
}
