---
layout: base
---

<div class="jumbotron-fluid">
    <div class="container">
        <div class="row text-center text-white justify-content-center">
            <div class="col-sm-12 col-md-9 col-lg-6">
                <p>
                <h1 class="text-uppercase">powsybl</h1>
                <h2>Power System Blocks</h2>
                <img src="/assets/images/powsybl.svg" height="100px" width="100px" class="my-4"/><br/>
                An open source Java library to assemble applications<br/>for electrical power systems' simulation and analysis
                </p>
                <a href="/docs/getting-started" class="btn btn-lg btn-secondary w-50">Get started</a>
                <p class="mt-3">
                Develop - Extend - Customize
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center my-5">
        {% for card in site.data.home.cards %}
        <div class="col-sm-12 col-md-6 col-lg-4 p-4 my-3">
            <div class="card border-light shadow h-100">
                <div class="card-header text-center text-primary">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="{{ card.icon }} fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="card-title">{{ card.title }}</h3>
                </div>
                <div class="card-body px-5">
                    <p class="card-text">{{ card.description }}</p>
                </div>
                <div class="card-footer text-center">
                    <a href="{{ card.link.url | escape }}" class="btn btn-secondary">{{ card.link.name }}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
